.containers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4; /* Adjust background color */
  }
  
  .cards {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-top: -30vh;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    margin-bottom: 20px; /* Increased margin for better spacing */
  }
  
  label {
    margin-bottom: 5px; /* Space between label and input */
    font-weight: bold;
  }
  
  input,
  textarea {
    padding: 25px;
    width: 36vh;
    border: 1px solid #ccc;
    border-radius: 4px;

  }
  
  .submitButton {
    padding: 12px 20px;
    background-color: #d2d076;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Hover effect for button */
  .submitButton:hover {
    background-color: #d2d076;
  }
  